@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;600&display=swap');

.main {
  display: flex;
}

.content {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
}

.sidebar {
  height: 100vh;
}

.sidebar-header {
  text-align: center;
  padding: 20px 20px 0 20px;
}

.sidebar-header img {
  width: 100px;
}

.sidebar-header p {
  color: #fff;
  font-size: 20px;
}

.sidebar-footer {
  padding: 5px;
  text-align: center;
}

.sidebar-footer p {
  color: #fff;
  font-size: 12px;
}

.sidebar .badge-red {
  padding: 3px 6px;
  font-size: 9px;
  border-radius: 15px;
  background: #d63030;
  color: #fff;
}

/* Editar usuario */

.content-edit {
  display: flex;
  flex-direction: column;
}

.content-edit .back {
  color: #000;
  font-size: 25px;
  padding: 30px 30px 0 30px;
  width: 100%;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: 'Readex Pro', sans-serif;
}

.form div {
  display: flex;
  justify-content: center;
}

.form div .input-global {
  padding: 20px;
}

.form div .input-global .input {
  width: 300px;
}

.form div .input-global .input:hover {
  border: 1px solid #000;
}

.label {
  text-align: left;
  font-weight: 600;
}

.select {
  padding: 5px;
  border: 1px solid #ced4da;
}

.button {
  margin: 20px;
  width: 300px;
}