@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;600&display=swap');

.main {
  display: flex;
}

.content {
  position: relative;
  height: 100vh;
  left: 260px;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  text-align: center;
  width: calc(100% - 260px);
}

.register {
  text-align: center;
}

.sidebar {
  height: 100vh;
  position: fixed;
  font-family: 'Readex Pro', sans-serif;
}

.sidebar-header {
  text-align: center;
  padding: 20px 20px 0 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 600;
}

.sidebar-header img {
  width: 100px;
}

.sidebar-header p {
  color: #fff;
  font-size: 20px;
}

.sidebar .badge-red {
  padding: 3px 6px;
  font-size: 9px;
  border-radius: 15px;
  background: #d63030;
  color: #fff;
}

.sidebar-footer {
  display: flex;
  padding: 15px;
}

.sidebar-footer .info-user {
  width: 170px;
  line-height: 12px;
}

.sidebar-footer .info-user .username {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.sidebar-footer .info-user .rol {
  font-size: 14px;
  line-height: 2px;
}

.sidebar-footer .info-user .profile {
  font-size: 12px;
  color: #fff;
  text-decoration-color: #fff;
}

.sidebar-footer .info-user .logout {
  align-items: center;
}

.sidebar-footer .logout {
  color: #fff;
  width: 60px;
  align-self: center;
  text-align: right;

}

.sidebar-footer li {
  list-style: none;
  text-decoration: underline #fff;
}

.sidebar

/* Editar usuario */

.content-edit {
  display: flex;
  flex-direction: column;
}

.content-edit .back {
  color: #000;
  font-size: 25px;
  padding: 30px 30px 0 30px;
  width: 100%;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: 'Readex Pro', sans-serif;
}

.form div {
  display: flex;
  justify-content: center;
}

.form div .input-global {
  padding: 20px;
}

.form div .input-global .input {
  width: 300px;
}

.form div .input-global .input:hover {
  border: 1px solid #000;
}

.label {
  text-align: left;
  font-weight: 600;
}

.select {
  padding: 8px;
  border-radius: 4px;
  width: 300px;
  border: 1px solid #ced4da;
}

.select-content {
  padding: 20px;
}

.button {
  margin: 20px;
  width: 300px;
  font-family: 'Readex Pro', sans-serif;
}

/* Login */

.login {
  text-align: center;
}

.login .title {
  padding: 80px 0 30px 0;
}

.login .form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .form .input-global {
  padding: 20px;
}

.login .form .input-global .input {
  width: 300px;
}

.login .form .input-global .input:hover {
  border: 1px solid #000;
}

/* Perfil */

.card {
  border: none;
}

.card .title {
  font-size: 34px;
  padding: 20px 0 0 0;
}

.card .form div{
  height: 120px;
}

.card .form .content-button {
  height: 90px;
}

/* Proyectos liderados */

.content-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Readex Pro', sans-serif;
}

.content-projects .content-card {
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  width: 400px;
  padding: 20px;
  margin: 25px;
  text-align: center;
}

.content-projects .content-card .title {
  font-size: 25px;
  padding: 0;
}

.content-projects .content-card div .date {
  font-size: 13px;
  margin: 13px;
}

.content-card-info {
  display: flex;
}

.content-card-info div {
  width: 180px;
}

.content-card-info div:first-child {
  text-align: start;
  font-weight: 600;
}

.content-card-info div:last-child {
  text-align: end;
}