.table {
  width: 80%;
  margin: auto;
  overflow-y: scroll;
}

.table thead {
  font-family: 'Readex Pro', sans-serif;
}

.table tbody {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
}

.table tr:hover {
  background: #f2f2f2;
}

.title {
  font-family: 'Readex Pro', sans-serif;
  font-size: 40px;
  padding: 30px;
  font-weight: 600;
}